# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
hx_kernel
src/floppy.img
.clang_complete
tags

# XeLaTex
*.aux
*.log
*.pdf
*.toc

